#article-entry h1 {
  font-size: 2em;
  margin: 0.8em 0;
}
#article-entry h2 {
  font-size: 1.5em;
}
#article-entry h3 {
  font-size: 1.3em;
}
#article-entry h4 {
  font-size: 1.2em;
}
#article-entry h5 {
  font-size: 1em;
}
#article-entry h6 {
  font-size: 1em;
  color: color-grey;
}
#article-entry hr {
  border: 1px dashed color-border;
}
#article-entry strong {
  font-weight: bold;
}
#article-entry em,
#article-entry cite {
  font-style: italic;
}
#article-entry sup,
#article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#article-entry sup {
  top: -0.5em;
}
#article-entry sub {
  bottom: -0.2em;
}
#article-entry small {
  font-size: 0.85em;
}
#article-entry acronym,
#article-entry abbr {
  border-bottom: 1px dotted;
}
#article-entry ul,
#article-entry ol,
#article-entry dl {
  margin: 0 20px;
  line-height: line-height;
}
#article-entry ul ul,
#article-entry ol ul,
#article-entry ul ol,
#article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
#article-entry ul {
  list-style: disc;
}
#article-entry ol {
  list-style: decimal;
}
#article-entry dt {
  font-weight: bold;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.8em;
}
#container {
  color: #333;
  padding: 0 10%;
  width: 60%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #container {
    padding: 0;
    margin: 0 5%;
    width: 90%;
  }
}
@media screen and (max-width: 479px) {
  #container {
    padding: 0;
    margin: 0 5%;
    width: 90%;
  }
}
#header {
  margin: 3em auto;
}
.header-title {
  font-size: 6em;
}
.main-nav {
  display: inline-block;
}
.headerNav-toggle {
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
}
.headerNav-toggle .logo {
  font-size: 2.5em;
  position: absolute;
  left: 3.8em;
}
#leftBar #leftBar-toggle {
  cursor: pointer;
  z-index: 2;
  padding: 1em;
  position: fixed;
  top: 5px;
  left: 200px;
}
#leftBar #leftBar-toggle span {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #000;
  position: absolute;
  left: 13%;
}
#leftBar #leftBar-toggle span:before,
#leftBar #leftBar-toggle span:after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #000;
  position: absolute;
}
#leftBar #leftBar-toggle span:before {
  top: -8px;
}
#leftBar #leftBar-toggle span:after {
  bottom: -8px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #leftBar #leftBar-toggle {
    left: 130px;
  }
}
#leftBar #leftBar-toggle.active span {
  background-color: transparent;
}
#leftBar #leftBar-toggle.active span:before {
  top: 0;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#leftBar #leftBar-toggle.active span:after {
  top: 0;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#leftBar .leftBar-body {
  z-index: 1;
  height: 100%;
  background-color: #333;
  width: 250px;
  position: fixed;
  left: -250px;
  top: 0;
}
#leftBar .leftBar-body .sideBar-nav {
  margin: 0 20%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #leftBar .leftBar-body {
    width: 180px;
    left: -180px;
  }
}
#leftBar .leftBar-body a {
  color: #fff;
  display: block;
}
#leftBar .leftBar-body .logo {
  margin: 0.5em 0 1em 0;
}
#leftBar .leftBar-body .item {
  font-size: 1.2em;
}
#leftBar .leftBar-body .item a {
  margin-bottom: 1em;
}
#leftBar .leftBar-body.active {
  left: 0;
}
#rightBar #rightBar-backToTop {
  z-index: 5;
  position: fixed;
  right: 0.3em;
  bottom: 1em;
  display: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#rightBar #rightBar-backToTop div {
  width: 17px;
  height: 17px;
  border-bottom: 2px solid;
  border-right: 2px solid;
}
#rightBar #rightBar-toggle {
  cursor: pointer;
  z-index: 2;
  padding: 1em;
  position: fixed;
  top: 5px;
  right: 200px;
}
#rightBar #rightBar-toggle span {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #000;
  position: absolute;
  left: 13%;
}
#rightBar #rightBar-toggle span:before,
#rightBar #rightBar-toggle span:after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #000;
  position: absolute;
}
#rightBar #rightBar-toggle span:before {
  top: -8px;
}
#rightBar #rightBar-toggle span:after {
  bottom: -8px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #rightBar #rightBar-toggle {
    right: 130px;
  }
}
#rightBar #rightBar-toggle.active span {
  background-color: transparent;
}
#rightBar #rightBar-toggle.active span:before {
  top: 0;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#rightBar #rightBar-toggle.active span:after {
  top: 0;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#rightBar .rightBar-body {
  z-index: 1;
  height: 100%;
  background-color: #333;
  width: 250px;
  position: fixed;
  right: -250px;
  top: 0;
}
#rightBar .rightBar-body .sideBar-nav {
  margin: 0 20%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #rightBar .rightBar-body {
    width: 180px;
    right: -180px;
  }
}
#rightBar .rightBar-body a {
  color: #fff;
  display: block;
}
#rightBar .rightBar-body .logo {
  margin: 0.15em 0 1em 0;
}
#rightBar .rightBar-body .item {
  font-size: 1.2em;
}
#rightBar .rightBar-body .item a {
  margin-bottom: 1em;
}
#rightBar .rightBar-body.active {
  right: 0;
}
#leftBar-toggle span,
#leftBar-toggle span:after,
#leftBar-toggle span:before,
#rightBar-toggle span,
#rightBar-toggle span:after,
#rightBar-toggle span:before {
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.leftBar-body,
.rightBar-body {
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#widget {
  margin-top: 3em;
}
#widget .widget-wrap {
  margin-bottom: 2em;
}
#widget .widget ul li {
  margin-bottom: 0.5em;
  text-indent: 1em;
}
#widget .widget-title {
  color: #fff;
  margin-bottom: 1em;
}
#widget .widget ul li a {
  color: #fff;
}
#archive {
  margin-bottom: 5em;
}
.post-item {
  padding: 1em;
}
.article {
  margin-bottom: 3em;
}
.article-fadeIn {
  display: none;
}
#article-header {
  font-size: 2em;
  margin-bottom: 0.5em;
}
#article-meta {
  margin-bottom: 1em;
}
.article-date,
.article-category {
  display: inline-block;
  color: #888;
}
#article-entry {
  color: color-article-entry;
  margin-bottom: 1em;
}
.article-more-link {
  margin-top: 1em;
}
#article-footer {
  margin-bottom: 2em;
}
#article-nav {
  text-align: center;
}
#article-nav .article-nav-link-wrap {
  display: inline-block;
  padding: 1em 2em;
}
#page-nav .page-number {
  padding: 1em;
}
#page-nav .extend {
  padding: 1em;
}
#page-nav {
  text-align: center;
}
#footer {
  padding: 4em 0;
  text-align: center;
}
.highlight {
  color: #d1d9e1;
  background: #474949;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #969896;
  font-style: italic;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .type,
.highlight .code .addition {
  color: #c9c;
}
.highlight .code .number,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo {
  color: #f99157;
}
.highlight .code .string,
.highlight .code .doctag,
.highlight .code .regexp {
  color: #8abeb7;
}
.highlight .code .title,
.highlight .code .name,
.highlight .code .section,
.highlight .code .built_in {
  color: #b5bd68;
}
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .selector-id,
.highlight .code .class .title {
  color: #fc6;
}
.highlight .code .section,
.highlight .code .name,
.highlight .code .strong {
  font-weight: bold;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .meta,
.highlight .code .link {
  color: #f99157;
}
.highlight .code .deletion {
  color: #dc322f;
}
.highlight .code .formula {
  background: #eee8d5;
}
.highlight .code .attr,
.highlight .code .attribute {
  color: #81a2be;
}
.highlight .code .emphasis {
  font-style: italic;
}
pre {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  font-size: 14px;
  padding: 10px 15px;
  padding-bottom: 0;
  line-height: 22.400000000000002px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px dotted #666;
  overflow-x: auto;
}
code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px dotted #666;
  padding: 0 5px;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  overflow-x: auto;
  margin: 1rem 0 1rem 0;
}
.highlight figcaption {
  zoom: 1;
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption a {
  float: right;
}
.highlight figcaption:before,
.highlight figcaption content: "" {
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight table {
  width: auto;
}
.highlight td.gutter {
  text-align: right;
  padding-right: 20px;
  display: none;
}
